* {
  font-family: "Arial";
}

html, body{
  height: 100%;
  margin: 1;
}

.board {
  height: 100px;
  width: 100px;
  background: #a0a0a0;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  display: inline-block;
}

#boards{
  list-style-type: none;
}

#boards li {
  display: inline-block;
}

.box {
  display: flex;
  height: 100%;
}


.topnav{
  background-color: #041228;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

#container {
  background-color: #99ccff;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  height: 100%;
}
