* {
  font-family: "Arial";
}

html, body{
  height: 100%;
  border-radius: 5px;
  margin: 0;
}

button {
  padding: 14px 20px;
  background-color: #223047;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.board {
  color: white;
  height: 60px;
  width: 250px;
  background: #a876f2;
  vertical-align: middle;
  border-radius: 3px;
  display: inline-block;
  padding: 14px 16px;
}

.board:hover {
  opacity: 0.8;
}

.board#boardAdder {
  text-align: center;
  line-height: 60px;
  background: #a0a0a0;
  font-weight: normal;
}

#boards{
  list-style-type: none;
}

#boards li {
  display: inline-block;
}

.box {
  display: flex;
  height: 100%;
}


.topnav{
  background-color: #3a5282;
  overflow: hidden;
  text-align: center;
}

.topnav .navbuttons{
  float: left;
  display: block;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  color: white;
  background: #4f6ca5;
  border-radius: 5px;
  margin: 5px 5px;
}

.topnav #search.navbuttons {
  background: white;
  color: black;
}

.topnav #main-menu {
  display: none;
  height: 40%;
  width: 20%;
  position: fixed;
  background: inherit;
  padding: 14px 16px;
  margin: 0;
  top: 42px;
  left: 0;
  border-radius: 5px;
}

#optionbar {
  background: green;
}


.topnav #home {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 6px 8px;
  font-weight: bold;
  font-size: 24px;
  position: static;
}


#container {
  background: white;
  color: #3c3d3f;
  font-weight: bold;
  padding: 16px 0 0 140px;
  height: 100%;
}
