* {
  font-family: "Arial";
  color: white;
}

a#logolink {
  text-decoration: none;
  color: white;
}

#modal {
  display: none;
  opacity: 0.1;
  background: grey;
  height: 100%;
  width: 100%;
}

#bg {
  opacity: 0.6;
  background: grey;
  height: 100%;
  width: 100%;
  display: block;
}

html, body{
  height: 100%;
  wdith: 100%;
  margin: 0;
  white-space: nowrap;
}

#lists {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#lists li {
  display: inline-block;
  height: 300px;
  width: 15%;
  background-color: #dee4ed;
  margin: 0 10px;
  border-radius: 10px;
  text-align: center;
  vertical-align: top;
}

#cards {
  list-style-type: none;
  margin: 2;
  padding: 0;
  color: black;
}

#cards li {
  display: block;
  height: 50px;
  width: 88%;
  background-color: white;
  color: black;
  padding: 2m;
  margin: 10px 10px;
  border-radius: 5px;
  text-align: left;
  vertical-align: baseline;
  font-weight: normal;
}

#cards li:hover {
  opacity: 0.8;
  background: #cbd2db;
  cursor: pointer;
}


#cards.licard {
  display: inline-block;
  color: black;
  vertical-align: top;
}


.box {
  display: flex;
  height: 100%;
}

.welcomenav{
  overflow: hidden;
  background: #749bdb;
  padding: 10px 16px;
  font-size: 18px;
  font-weight: bold;
}

.topnav{
  background-color: #3a5282;
  overflow: hidden;
  text-align: center;
}

.topnav .navbuttons{
  float: left;
  display: block;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  color: white;
  background: #4f6ca5;
  border-radius: 5px;
  margin: 5px 5px;
}

.topnav #search.navbuttons {
  background: white;
  color: black;
}

.topnav #main-menu {
  display: none;
  height: 40%;
  width: 20%;
  position: fixed;
  background: inherit;
  padding: 14px 16px;
  margin: 0;
  top: 42px;
  left: 0;
  border-radius: 5px;
}

#optionbar {
  background: green;
  cursor: pointer;
}

.topnav #home {
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 6px 8px;
  font-weight: bold;
  font-size: 24px;
  position: static;
}

#boardContainer {
  float: left;
  background-color: #749bdb;
  color: white;
  font-weight: bold;
  padding: 16px;
  height: 100%;
  width: 100%;
}

#listedCard {
  height: 100%;
  width: 100%;
}

#card {
  color: white;
  height: 400px;
  width: 300px;
  background: #c7d8e8;
  border-radius: 5px;
  padding: 14px 16px;
  font-weight: bold;
  float: right;
  display: none;
}

#sidebar {
  position: fixed;
  top: 60px;
  right: 0;
  float: right;
}

#sidebar:hover {
  height: 100%;
  padding: 14px 16px;
  background: #3c3d3f;
  width: 24%;
  border-radius: 5px;
}

.welcomenav a{
  display: block;
  text-decoration: none;
  padding: 6px 8px;
  float: left;
  margin: 5 0;
}

.welcomenav a:hover{
  background: #88b8e8;
  opacity: 0.8;
  border-radius: 3px;
}


.list {
  float: left;
  border-color: white;
  width: 20%;
  background-color: gray;
  padding: 14px 16px;
  margin-right: 10px;
  height: 90%;

}
