<%- include('./header');%>
  <div class="topnav" id="nav">
    <div class="navbuttons" id="optionbar">
      Boards
      <div id="main-menu" style="display: none">
      </div>
    </div>

    <div class="navbuttons" id="search">Search</div>
    <div id="home"><a href="#" id="logolink">Prello</a></div>
  </div>

  <div id="container">
    Personal Boards
    <div id="boardList">
      <ul id="boards">

        <li>
          <a href="./index.ejs">
            <div class="board">
              Welcome
            </div>
          </a>
        </li>

        <li>
          <a href="./board.html">
            <div class="board">
              Board1
            </div>
          </a>
        </li>

        <li>
          <div class="board" id="boardAdder">
            Create new board ...
            <div id="boardAddMenu" style="display: none">
              <span>Create Board</span>
              <span id="line-divider"></span><br>
              <span>Title</span><br>
              <input type="text">
            </div>
          </div>

        </li>

      </ul>

    </div>

    <a href="#">Create a new team ...</a>

    <br>

  </div>
<%- include('./footer');%>
