<%- include('./header'); %>
<div id="landing-container">
  <div id="registration-container">
    <form id="register-form" method="POST" action="/signup">
      <div id="registration-information">
        <h1> Sign Up for Prello </h1>
        <input type = "text" id="register-name" placeholder="John Doe" name="register_name"><br>
        <br>
        <input type = "email" id="register-email" placeholder="john.doe@gmail.com" name="register_email" required autocomplete="off"><br>
        <br>
        <input type="password" id="register-password" placeholder="Password" name="register_password" required><br>
        <br>
        <input type="password" id="register-password-confirm" placeholder="Confirm Password" name="register_confirm" required><br>
        <input type="submit" id="submit-btn" value="Sign Up">
      </div>
    </form>
  </div>

  <br><br>

  <div id="login-container">
    <form id="login-form" method="POST">
      <div id="login-information">
        <h2> Login </h2>
        <input type = "text" id="login-email" placeholder="Enter email" name="email" required><br>
        <br>
        <input type="password" id = "login-password" placeholder="Enter Password" name="password"><br>
        <input type="submit" id="login-btn" value="Login"><br>
        <br>
        <input type="checkbox" name="remember" value="rememberme"> Remember Me <br>
      </div>
    </form>
  </div>
</div>
<%- include('./footer');%>
