<%- include('./header');%>
  <div id="container">
    <form>
      <div id="login">
        <h2> Login </h2>
        <input type = "text" id="login-email" placeholder="Enter email" name="email" required><br>
        <br>
        <input type="password" id = "login-password" placeholder="Enter Password" name="password"><br>
        <input type="button" id="login-btn" value="Login"><br>
        <br>
        <input type="checkbox" name="remember" value="rememberme"> Remember Me <br>
      </div>
    </form>
  </div>
<%- include('./footer');%>
