<%- include('./header'); %>

<div class='password-page-container'>
  <div id='alert-header'></div>
  <form method='POST' action='/reset-request'>
    <p class='form-text'>Enter your email to receive reset link</p>
    <input type='text' id='reset-email' name='email' placeholder='e.g johndoe@gmail.com'>
    <input type='submit' id='reset-submit-button' value='Send Link'>
  </form>
</div>

<%- include('./footer'); %>
