<%- include('./header'); %>
<div id='notification' class='notification-container'><%= notification %></div>
<div class='password-page-container'>
  <div id='alert-header'></div>

  <form method='POST' action=<%=`/reset/${pwToken}`%>>
    <p class='form-text'>Enter your new password</p>
    <input type='password' id='reset-password' class='reset-password-text' name='password' placeholder='************' required>
    <p class='form-text'>Confirm your new password</p>
    <input type='password' id='reset-password-confirm' class='reset-password-text' name='confirm' placeholder='************' required>
    <br>
    <input type='submit' id='reset-submit-btn' value='RESET'>
  </form>
</div>

<%- include('./footer'); %>
