<%- include('./header');%>
    <div id="container">
      <form id="register-form">
        <div id="registration">
          <h1> Sign Up for Prello </h1>
          <input type = "text" id="register-name" placeholder="John Doe" name="name"><br>
          <br>
          <input type = "email" id="register-email" placeholder="john.doe@gmail.com" name="email" required autocomplete="off"><br>
          <br>
          <input type="password" id="register-password" placeholder="Password" name="password"><br>
          <br>
          <input type="password" id="register-password-confirm" placeholder="Confirm Password" name="confirm"><br>
          <input type="button" id="submit-btn" value="Sign Up">
        </div>
      </form>
    </div>
<%- include('./footer');%>
